<!DOCTYPE html>
<html lang="en">
<head>
<title>Auction Alley</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 33.33%; /* Adjust this to adjust the number of visible items */
  padding: 0 10px; /* Adjust this for spacing between items */
}

/* Style the buttons for scrolling */
.w3-display-left, .w3-display-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.w3-display-left {
  left: -45px;
}

.w3-display-right {
  right: -45px;
}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ABOUT US</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">AUCTIONS</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT US</a>
    <a href="/signup_display" class="w3-bar-item w3-button w3-padding-large">SIGN UP</a>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BAND</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOUR</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    <img src="./static/img1.jpg" style="width:100%">
  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">About Us</h2>
    <p class="w3-opacity"><i>Bid, win, discover: It's all at Auction Alley.</i></p>
    <p class="w3-justify">Auction Alley is your online marketplace for thrilling discoveries! We connect passionate buyers and sellers through exciting auctions, offering a diverse range of treasures,
      Bid competitively, find hidden gems, and experience the convenience of buying and selling from anywhere, anytime. Join our vibrant community and ignite your auction passion at Auction Alley.</p>
  </div>

  <!-- The Tour Section -->
  <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px; position: relative;">
      <h2 class="w3-wide w3-center">UPCOMING AUCTIONS</h2>
      <p class="w3-opacity w3-center"><i>Bid on the future: See what's coming soon to Auction Alley.</i></p><br>
      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px; overflow: hidden;">
        <button class="w3-button w3-black w3-display-left" onclick="prev()">&#10094;</button>
        <div id="carousel" class="carousel">
        {% for product in products %}
          <div class="carousel-item">
            <img src="./static/img2.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>{{ product.name }}</b></p>
              <p class="w3-opacity">Scheduled Time: {{ product.scheduled_time }}</p>
              <div id="timer{{ loop.index }}"></div>
              <p>Starting Bid: ${{ product.starting_bid }}</p>
              <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Start Bidding</button>
            </div>
          </div>
        {% endfor %}
        </div>
        <button class="w3-button w3-black w3-display-right" onclick="next()">&#10095;</button>
      </div>
    </div>
  </div>
  <!-- Ticket Modal -->
  <div id="ticketModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-32"> 
        <span onclick="document.getElementById('ticketModal').style.display='none'" 
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Tickets</h2>
      </header>
      <div class="w3-container">
        <p><label><i class="fa fa-shopping-cart"></i> Tickets, $15 per person</label></p>
        <input class="w3-input w3-border" type="text" placeholder="How many?">
        <p><label><i class="fa fa-user"></i> Send To</label></p>
        <input class="w3-input w3-border" type="text" placeholder="Enter email">
        <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">PAY <i class="fa fa-check"></i></button>
        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
        <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
      </div>
    </div>
  </div>

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT US</h2>
    <p class="w3-opacity w3-center"><i>Need help? We're here for you.</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Manipal, India<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +91 XXXXXXXX78<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: email@gmail.com<br>
      </div>
      <div class="w3-col m6">
        <form action="/action_page.php" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
        </form>
      </div>
    </div>
  </div>
  
<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
{% for product in products %}
            var countDownDate{{ loop.index }} = new Date("{{ product.scheduled_time }}").getTime();

            var x{{ loop.index }} = setInterval(function() {
                var now = new Date().getTime();
                var distance = countDownDate{{ loop.index }} - now;

                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById("timer{{ loop.index }}").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

                if (distance < 0) {
                    clearInterval(x{{ loop.index }});
                    document.getElementById("timer{{ loop.index }}").innerHTML = "EXPIRED";
                }
            }, 1000);
        {% endfor %}
  // Function to initialize carousel
function initCarousel() {
  const carousel = document.getElementById('carousel');
  const items = document.querySelectorAll('.carousel-item');
  const numItems = items.length;
  const visibleItems = 3; // Number of items visible at a time
  let currentIndex = 0;

  // Function to update the carousel display
  function moveCarouselTo(index) {
    if (index < 0 || index >= numItems - visibleItems + 1) return;
    carousel.style.transform = `translateX(-${index * (100 / visibleItems)}%)`;
    currentIndex = index;
  }

  // Function to move carousel to the next set of items
  function next() {
    moveCarouselTo(currentIndex + 1);
  }

  // Function to move carousel to the previous set of items
  function prev() {
    moveCarouselTo(currentIndex - 1);
  }

  // Add event listeners for next and previous buttons
  document.querySelector('.w3-display-left').addEventListener('click', prev);
  document.querySelector('.w3-display-right').addEventListener('click', next);
}

// Call the initCarousel function to initialize the carousel
initCarousel();
</script>

</body>
</html>
